# Port number
PORT=8000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/node-ts-boilerplate

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10


SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=9626971ee06380
SMTP_PASSWORD=ffb4adaba46535
EMAIL_FROM=test@gmail.com

# Cookie configs
COOKIE_SECRET=thisisasamplesecret

# URL of client application
CLIENT_URL=http://localhost:5000
